AHNO_CADILLAC_2012/App_WebReferences/AhnoContract/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AssignValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strContractId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssignValuesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AssignValuesSoapIn">
    <wsdl:part name="parameters" element="tns:AssignValues" />
  </wsdl:message>
  <wsdl:message name="AssignValuesSoapOut">
    <wsdl:part name="parameters" element="tns:AssignValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="AhnoContractServiceSoap">
    <wsdl:operation name="AssignValues">
      <wsdl:input message="tns:AssignValuesSoapIn" />
      <wsdl:output message="tns:AssignValuesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AhnoContractServiceSoap" type="tns:AhnoContractServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignValues">
      <soap:operation soapAction="http://tempuri.org/AssignValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AhnoContractServiceSoap12" type="tns:AhnoContractServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignValues">
      <soap12:operation soapAction="http://tempuri.org/AssignValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AhnoContractService">
    <wsdl:port name="AhnoContractServiceSoap" binding="tns:AhnoContractServiceSoap">
      <soap:address location="http://aws.azaz.com/service.asmx" />
    </wsdl:port>
    <wsdl:port name="AhnoContractServiceSoap12" binding="tns:AhnoContractServiceSoap12">
      <soap12:address location="http://aws.azaz.com/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>